.aboutPage__container{
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  h1 {
    margin: 0;
  }
  @media (min-width: 760px) {
    flex-direction: row;
  }
}
.aboutPage__header {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.aboutPage__footer {
  margin-top: 15px;
}
.aboutPage__picture {
  img {
    height: 200px;
    width: 300px;
  }
}
.aboutPage__list-title{
  margin: 0;
  @media (min-width: 1000px) {
    font-size: 20px;
  }

}
.aboutPage__list {
  padding-left: 20px;
  text-align: left;
  line-height: 25px;
  @media (min-width: 1000px) {
    font-size: 18px;
  }
}

.aboutPage__links {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  a {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  a:hover{
    color: blue;
    text-decoration: underline;
  }

  @media (min-width: 1000px) {
    font-size: 18px;
  }
}

.aboutPage__links-section{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  line-height: 25px;
}
.aboutPage__description{
  @media (min-width: 1000px) {
    font-size: 18px;
    width: 450px;
    text-align: left;
  }

}