.headerContainer{
  display: flex;
  flex-direction: row;
  gap: 10px;
  border-bottom: 2px solid lightgray;
  @media (min-width: 1000px) {
    font-size: 20px;
  }

  a {
    text-decoration: none;
    color: darkblue;
    cursor: pointer;
  }
  .active {
    color: orangered;
  }
}