.singleProduct__container {
  padding: 15px;
  display: flex;
  flex-direction: column;
  background-color: silver;
  border: 1px solid gray;
}
@media (min-width: 765px) {
  .singleProduct__container {
    margin-top: 15px;
    width: 50%;
  }
}

.singleProduct__image img {
  width: 300px;
  height: 300px;
  border-radius: 5px;
}

.singleProduct__title {
  font-size: 18px;
  color: darkblue;
}
@media (min-width: 765px) {
  .singleProduct__title {
    font-size: 20px;
  }
}

.singleProduct__description {
  font-size: 14px;
}
@media (min-width: 765px) {
  .singleProduct__description {
    font-size: 16px;
  }
}

.singleProduct__price {
  color: darkblue;
  font-weight: 700;
}

.singleProduct__category {
  margin-bottom: 0;
}

.singleProduct__rating {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.singleProduct_text {
  background-color: beige;
  padding: 10px;
  border-radius: 5px;
}